*{
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
}
form{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
#caja-form{
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 20px;
}
a{
    color: black;
}
#btn {
    width: 15%;
    
}
#add_row{
    width: 15%;
}
/*fibonachi*/
#btn-fibonachi{
    min-width: 50%;
}